@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.img_fon img{
    width: 100%;
    height: 100%;
   
}
.img_fon img:last-child{
    margin-top: -100%;
    height: 660px;
}
header{
    position: relative;
}
.img_fon{
    position: absolute;
    z-index: -5;
}
.logo{
    color: black;
}
.wel{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 34px;
    font-family: 'Lekton', sans-serif;
    padding-top: 30px;
}
.lin{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding-top: 35px;
    margin-left: 25px;
}
.lin1{
    padding-top: 35px;
}
.btn{
    width: 140px;
    height: 42px;
    background: rgba(255, 253, 253, 0.45);
    position: relative;
    margin-top: 37px;
    border-radius: 21px;
}
.word{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    padding-top: 12px;
}
.big{
    padding-top: 32%;
    font-size:100px ;
    font-family: "Lecton", sans-serif;

}
.smalltext{
    font-size: 16px;
    color: #425466;
    margin: 20px 0 30px ;
}
.btn1{
    width: 230px;
    height: 52px;
    background: #231A36;
    padding: 17px 35px;
    color: white;
    text-decoration: none;
    border-radius:21px ;
} 
.pic img{
    position: absolute;  
}
.p1 {
    margin-top: -30% ;
    padding-left: 1000px;

}
.p2{
    margin-top: -28%;
    padding-left: 1345px;
}
.p3{
    padding-left: 854px;
    margin-top: -17%;
}
.p4{
    margin-top: -5%;
    padding-left: 1320px;
}
.p5{
    padding-left: 1380px;
    margin-top: -10%;
}
.p6{
    margin-top: -31%;
    padding-left: 1170px;
}
.centre {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    color: #B2B7BE;
    margin: 100px 0 0 0;
}
.spon{
    font-family: 'Lato', sans-serif;
    font-size: 35px;
    color: #B2B7BE;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.up{
    text-align: center;
}
.up1{
    font-family: 'Poppins', sans-serif;
}
.opperations{
    margin-top: 100px;
}
.down_card{
    width: 351px;
    height: 210px;
    margin-left: 350px;
    margin-top: 150px;
}
.color_text{
    color: #B33CDB;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
.down1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.btn2{
    text-decoration: none;
    color: #42424A;
    font-size: 15px;
}
.sss{
    margin-top: -80%;
    padding-left: 400px;
}
.color_text2{
    color: rgb(214, 214, 50);
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
.color_text3{
    color: deeppink;
    font-family: "Inter", sans-serif;
    font-size: 12px;
}
.ss img{
    padding-right: 500px;
}
.card2{
    padding-left: 700px;
    margin-top: -10%;
   
}
.ss{
    position: absolute;
    padding-left: 15%;
    margin-top: -2%;
}
.s{
    position: relative;
    padding-left: 31%;
    padding-top: 5%;
}
.fon{
    background: #231A36;
    width: 100%;
    height: 590px;
    padding-top: 100px;
    position: absolute;
}
.rundomtext{
    position: relative;
}
.rundm{
    text-align: center;
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    padding-top: 120px;
}
.smalltext_center{
    font-size: 16px;
    color: #425466;
    margin: 20px 0 30px ;
    text-align: center;
}
.nam{
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 40px;
    padding-left: 500px;
    padding-right: 500px;
    font-family: 'Poppins', sans-serif;
}

.smalltext3{
    display: flex;
    justify-content: space-between;
    padding-left: 500px;
    padding-right: 530px;
}
.smalltext3:not(:first-child){
    padding-left: 26%;
}
