@import url('https://fonts.googleapis.com/css2?family=Lekton:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 1400px;
    margin: 0 auto;
}
.img_fon img{
    width: 100%;
    height: 100%;
   
}
.img_fon img:last-child{
    margin-top: -100%;
    height: 660px;
}
header{
    position: relative;
}
.img_fon{
    position: absolute;
    z-index: -5;
}
.logo{
    color: black;
}
.wel{
    display: flex;
    justify-content: space-between;
}
.logo{
    color: white;
    font-size: 34px;
    font-family: 'Lekton', sans-serif;
    padding-top: 30px;
}
.lin{
    font-family: "Inter", sans-serif;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding-top: 35px;
    margin-left: 25px;
}
.lin1{
    padding-top: 35px;
}
.btn{
    width: 140px;
    height: 42px;
    background: rgba(255, 253, 253, 0.45);
    position: relative;
    margin-top: 37px;
    border-radius: 21px;
}
.word{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 20px;
    padding-top: 12px;
}
.big{
    padding-top: 32%;
    font-size:100px ;
    font-family: "Lecton", sans-serif;

}
.smalltext{
    font-size: 16px;
    color: #425466;
    margin: 20px 0 40px ;
}
.btn1{
    width: 230px;
    height: 52px;
    background: #231A36;
    padding: 17px 35px;
    color: white;
    text-decoration: none;
    border-radius:21px ;
}
.pic {
    position: absolute;  
}
.p1 {
    margin-top: -20% ;
    padding-left: 953px;

}
.p2{
    margin-top: -14%;
    padding-left: 1320px;
}
.p3{
    padding-left: 854px;
}
.p4{
    margin-top: 10%;
    padding-left: 1320px;
}
.p5{
    padding-left: 1380px;
    margin-top: 5%;
}